+b.HEADER.header
    +e.top
        +e.wrapper.wrapper
            +e.address
                +b.top-address
                    ul
                        li
                            +e.A(href='#').link.call +996 777 210 317
                        li
                            +e.A(href='#').link.address I'm-Nomad Kygyzstan г. Bishkek Kaluk Akieva st.. 66
                        li
                            +e.A(href='mailto: info@im-nomad.com').link.letter info@im-nomad.com
            +e.share
                +b.social-share.inline
                    div.ya-share2(data-bare data-size="m" data-services="facebook,twitter,whatsapp,vkontakte,odnoklassniki,telegram")
    +e.wrapper.wrapper
        +e.bottom
            +e.left
                +e.logo
                    +b.logo
                        a(href="#")
                            img(src="img/logo.png", alt="logo")
            +e.right
                +e.menu
                    nav
                        +b.UL.main-menu
                            +e.A(href='#').link HOME
                            +e.A(href='#').link TOURS
                            +e.A(href='#').link SIGHTS
                            +e.A(href='#').link FAQs
                            +e.A(href='#').link ABOUT US
                            +e.A(href='#').link FEEDBACK
                            +e.A(href='#').link CONTACTS
