+b.NAV.mobile-menu
    ul
        li
            a(href="#") Новости
        li
            a(href="#") Наш блог
        li
            +e.level
                +e.left
                    +e.arrow
                +e.right
                    a(href="#") Наши активисты
            ul
                li
                    a(href="#") Взрослын активисты
                li
                    a(href="#") Молодожное крыло
        li
            +e.level
                +e.left
                    +e.arrow
                +e.right
                    a(href="#") Галерея
            ul
                li
                    a(href="#") Ещё пункт
                li
                    a(href="#") Пункт субменю очень очень очень очень длинный
                li
                    +e.level
                        +e.left
                            +e.arrow
                        +e.right
                            a(href="#") Субменю 2 уровня с очень очень длинным названием
                    ul
                        li
                            a(href="#") Ещё один пункт
                        li
                            a(href="#") Пункт субменю ещё один очень длинный
                        li
                            +e.level
                                +e.left
                                    +e.arrow
                                +e.right
                                    a(href="#") Субменю 2 уровня с очень очень длинным названием
                            ul
                                li
                                    a(href="#") Ещё один пункт
                                li
                                    a(href="#") Пункт субменю ещё один очень длинный
                                li
                                    +e.level
                                        +e.left
                                            +e.arrow
                                        +e.right
                                            a(href="#") Субменю 2 уровня с очень очень длинным названием
                                    ul
                                        li
                                            a(href="#") Ещё один пункт
                                        li
                                            a(href="#") Пункт субменю ещё один очень длинный
        li
            a(href="#") Контакты