+b.NAV.mobile-menu
    ul
        li
            +e.A(href='#hero-info') Welcome to Kyrgyzstan
        li
            +e.A(href='#our-team') our-team
        li
            +e.A(href='#our-video') Watch video
        li
            +e.A(href='#our-advantages') our-advantages
        li
            +e.A(href='#popular-tours') popular-tours
        li
            +e.A(href='#tours') RECOMMANDATION OF TOURS
        li
            +e.A(href='#about-kyrgyzstan') about-kyrgyzstan
        li
            +e.A(href='#fastivals') fastivals
        li
            +e.A(href='#experts') EXPERT'S CORNER
        li
            +e.level
                +e.left
                    +e.arrow
                +e.right
                    a(href="#") Тест
            ul
                li
                    a(href="#") Ещё пункт
                li
                    a(href="#") Пункт субменю очень очень очень очень длинный
                li
                    +e.level
                        +e.left
                            +e.arrow
                        +e.right
                            a(href="#") Субменю 2 уровня с очень очень длинным названием
                    ul
                        li
                            a(href="#") Ещё один пункт
                        li
                            a(href="#") Пункт субменю ещё один очень длинный
                        li
                            +e.level
                                +e.left
                                    +e.arrow
                                +e.right
                                    a(href="#") Субменю 2 уровня с очень очень длинным названием
                            ul
                                li
                                    a(href="#") Ещё один пункт
                                li
                                    a(href="#") Пункт субменю ещё один очень длинный
                                li
                                    +e.level
                                        +e.left
                                            +e.arrow
                                        +e.right
                                            a(href="#") Субменю 2 уровня с очень очень длинным названием
                                    ul
                                        li
                                            a(href="#") Ещё один пункт
                                        li
                                            a(href="#") Пункт субменю ещё один очень длинный
