script(src="js/jquery-3.3.1.min.js")
script(src='js/plugins.min.js')
script(src='js/main.min.js')
script(src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
script(src="https://yastatic.net/share2/share.js" async="async")
