
// Стандартная "transition-timing-function"
$time = 200ms ease-in-out 0ms

// ====== Медиа размеры (учитываем $sidePadding)
$large   = 1920px
$desktop = 1200px
$tablet  = 720px
$mobile  = 320px


// ====== Главные Цвета
$orange = #DC7051
$yellow = #F6CC75
$white  = #F8F8F8