// ====== Подключение шрифтов
//
// 1. Имена папок должны быть написаны исключительно латиницей без пробелов и любых других символов
// 2. Файлы шрифтов пишутся строчными буквами с постфиксом через минус
// 3. Формат шрифта подключать один, если формат "ttf", "otf" или лучше всего "woff"
// (смотря какой будет в макете или легче найти, т.к шрифты должны прилагаться дизайнером)
//
// Примеры: "fonts/roboto/roboto-regular.ttf", "fonts/helveticanuecondensed/helveticanuecondensed-bold.woff"

// ====== oswald
@font-face
    font-family 'oswald'
    src url('../fonts/oswald/oswald-regular.ttf')

@font-face
    font-family 'oswald'
    src url('../fonts/oswald/oswald-light.ttf')
    font-weight 300

@font-face
    font-family 'oswald'
    src url('../fonts/oswald/oswald-medium.ttf')
    font-weight 500
