// ====== Базовые подключения
@import 'components/_base/_variables'
@import 'components/_base/_mixins'

@import 'components/_base/page'

// ====== Все компоненты
@import 'components/*'

// ====== Вёрстка

.logo
    width 100%
    img
        display block
        width 100%

/*!
Делает в одну строку
*/
.social-share
    &.inline .ya-share2__item
        display inline-block
        vertical-align top
        margin-right 12px
        &:last-child
            margin-right 0
/*!
Стили для социальных иконок
*/
.ya-share2__item
    font-size 0
    width 24px
    height 24px
    cursor pointer
    &_service
        &_facebook
            background url('../img/sprites.png') -10px -10px no-repeat
            &:hover
                background: url('../img/sprites.png') -98px -54px no-repeat
        &_twitter
            // width 23px
            // height 23px
            background url('../img/sprites.png') -53px -98px no-repeat
            &:hover
                background: url('../img/sprites.png') -98px -10px no-repeat
        &_whatsapp
            // width 23px
            // height 23px
            background url('../img/sprites.png') -142px -53px no-repeat
            &:hover
                background: url('../img/sprites.png') -142px -96px no-repeat
        &_vkontakte
            // width 23px
            // height 23px
            background url('../img/sprites.png') -96px -98px no-repeat
            &:hover
                background: url('../img/sprites.png') -142px -10px no-repeat
        &_odnoklassniki
            // width 24px
            // height 24px
            background url('../img/sprites.png') -54px -10px no-repeat
            &:hover
                background: url('../img/sprites.png') -10px -54px no-repeat
        &_telegram
            // width 24px
            // height 24px
            background url('../img/sprites.png') -54px -54px no-repeat
            &:hover
                background: url('../img/sprites.png') -10px -98px no-repeat

.main-slider
    margin-bottom 50px
    &__item
        position relative
        height 600px
        width 100%
        +below($tablet)
            height 450px
        & img
            width 100%
            height 100%
            display block
            object-fit cover
            position absolute
            top 0
            left 0
            z-index 1
    &__info
        position absolute
        left 20%
        bottom 3px
        font-size 0
        z-index 2
        background-color rgba(248, 248, 248, 0.60)
        padding 20px 32px
        max-width 650px
        +below($desktop)
            left 5%
        +below($tablet)
            left 1%
    &__title
        font-size 32px
        font-weight 500
        text-transform uppercase
        text-decoration underline
        margin-bottom 12px
        +below($desktop)
            font-size 27px
        +below($tablet)
            font-size 23px
    &__text
        font-size 18px
        margin-bottom 6px
        +below($desktop)
            font-size 16px
        +below($tablet)
            font-size 15px
/*!
    Стлизация Dots
*/
.main-slider .owl-theme .owl-dots .owl-dot span
    width 20px
    height 15px


.hero-info
    margin-bottom 80px
    +below($desktop)
        margin-bottom 45px
    +below($tablet)
        margin-bottom 25px
    &__title
        font-size 38px
        font-weight 500
        text-align center
        margin-bottom 12px
        background-color $yellow
        padding 35px 0
        +below($desktop)
            font-size 28px
            padding 20px 0
        +below($tablet)
            font-size 20px
    &__description
        font-size 18px
        line-height 1.7
        text-align center
        +below($desktop)
            font-size 16px

.our-team
    margin-bottom 50px
    +below($tablet)
        margin-bottom 25px
    &__title
        text-align center
        font-weight 500
        font-size 34px
        margin-bottom 25px
        background-color $yellow
        padding 35px 0
        +below($desktop)
            font-size 28px
            padding 20px 0
        +below($tablet)
            font-size 20px
    &__list
        font-size 0
        margin 0 -10px
        text-align center
    &__item
        display inline-block
        width 24%
        margin 0 5px 12px
        overflow hidden
        position relative
        &:hover .our-team__phone-email
            left 0
        +below($desktop)
            width 23%
        +below($tablet)
            width 100%
            margin 0 0 15px 0
    &__image
        & img
            width 100%
            display block
    &__block-info
        padding-top 12px
        padding-bottom 12px
        background-color $white
        text-align center
        +below($tablet)
            padding 6px 0
    &__name
        font-size 17px
        margin-bottom 6px
        +below($tablet)
            font-size 16px
    &__info
        text-transform uppercase
        font-size 16px
    &__phone-email
        position absolute
        top 0
        left -100%
        width 100%
        height 100%
        padding-top 50%
        z-index 1
        background-color rgba(248,248,248,.8)
        transition left $time
    &__phone
        margin-bottom 15px
    &__phone
    &__email
        display block
        font-size 20px
        &:hover
            text-decoration underline


/*!
    Video slider
*/
.our-video
    margin-bottom 50px
    +below($tablet)
        margin-bottom 25px
    &__title
        text-align center
        font-weight 500
        font-size 34px
        margin-bottom 25px
        background-color $yellow
        padding 35px 0
        +below($desktop)
            font-size 28px
            padding 20px 0
        +below($tablet)
            font-size 20px
    &__item
        height 325px
        +below($desktop)
            height 190px
    &__link + span
        display none

.owl-video-tn
    background-size cover !important

.our-advantages
    margin-bottom 50px
    +below($tablet)
        margin-bottom 25px
    &__title
        text-align center
        font-weight 500
        font-size 34px
        margin-bottom 25px
        background-color $yellow
        padding 35px 0
        +below($desktop)
            font-size 28px
            padding 20px 0
        +below($tablet)
            font-size 20px
    &__list
        font-size 0
        margin 0 -10px
        +below($tablet)
            margin 0
    &__grid-item
        display inline-block
        width 24%
        margin 0 5px 12px
        vertical-align top
        +below($desktop)
            width 31%
            &.delet
                display none
        +below($tablet)
            width 100%
            margin 0
    &__item
        border-bottom 1px solid
        margin-bottom 25px
        +below($tablet)
            margin-bottom 12px
    &__image
        text-align center
        margin-bottom 12px
    &__info-block-mini
        margin-bottom 12px
    &__open
        font-family "oswald"
        outline 0
        border 0
        cursor pointer
        background-color $yellow
        font-size 16px
        padding 4px 6px
        margin-bottom 12px
        margin-left 12px
        transition background $time
        &:hover
            background-color $white
    &__info-block-full
        overflow hidden
    &__info-mini
        padding 0 12px
        font-size 16px
    &__info
        padding 0 12px
        font-size 16px
        margin-top -9999px
        transition all $time
.our-advantages__item.is-opened .our-advantages__info
    margin-top 0 !important

.tours
    margin-bottom 50px
    &__title
        text-transform uppercase
        text-align center
        font-weight 500
        font-size 34px
        margin-bottom 25px
        background-color $yellow
        padding 35px 0
        +below($desktop)
            font-size 28px
            padding 20px 0
        +below($tablet)
            font-size 20px
    &__list
        margin 0 -30px
        font-size 0
        text-align center
        +below($tablet)
            margin 0
    &__item
        display inline-block
        vertical-align top
        margin 0 15px 12px
        width 22%
        transition background $time, box-shadow $time, transform $time
        &:hover
            background #ffefc6
            box-shadow 0 4px 20px 15px #c7c7c7
            transform scale(1.02)
        +below($desktop)
            width 20%
        +below($tablet)
            width 100%
            margin 0 0 20px 0
    &__image img
        width 100%
        display block
        object-fit cover
    &__info
        font-size 16px
        text-align center
        padding 12px 0 0 0
        margin-bottom 6px
    &__open-full
        font-family "oswald"
        outline 0
        border 0
        cursor pointer
        background-color $yellow
        font-size 16px
        padding 4px 6px
        width 100%
        transition background $time
        &:hover
            background-color $white

.popular-tours
    margin-bottom 50px
    &__title
        text-transform uppercase
        text-align center
        font-weight 500
        font-size 34px
        margin-bottom 25px
        background-color $yellow
        padding 35px 0
        +below($desktop)
            font-size 28px
            padding 20px 0
        +below($tablet)
            font-size 20px
    &__list
        margin 0 -30px
        font-size 0
        text-align center
        +below($tablet)
            margin 0
    &__item
        display inline-block
        vertical-align top
        margin 0 15px 12px
        width 30%
        transition background $time, box-shadow $time, transform $time
        &:hover
            background #ffefc6
            box-shadow 0 4px 20px 15px #c7c7c7
            transform scale(1.02)
        +below($desktop)
            width 45%
        +below($tablet)
            width 100%
            margin 0 0 20px 0
    &__image
        & img
            width 100%
            display block
    &__info-title
        font-weight 500
        font-size 23px
        padding 12px 0 0 0
        margin-bottom 12px
    &__price
        font-size 20px
        font-weight 500
        padding 12 0 0 0
        margin-bottom 12px
    &__description
        margin-bottom 12px
    &__description-info
        font-size 16px
        padding 10 0 0 0
        margin-bottom 12px
    &__time
        border-bottom 1px solid
    &__time
    &__level
        font-weight 500
        font-size 16px
        margin-bottom 6px
        padding-bottom 6px
        & span
            font-size 17px
            font-weight normal
            padding-left 6px
    &__open
        font-family "oswald"
        outline 0
        border 0
        cursor pointer
        background-color $yellow
        font-size 16px
        padding 4px 6px
        width 100%
        transition background $time
        &:hover
            background-color $white

.about-kyrgyzstan
    background url('../img/kyrgyzstan.jpg') 50% no-repeat
    background-size cover
    object-fit cover
    min-height 520px
    max-height 650px
    margin-bottom 50px
    position relative
    &__info-box
        padding-top 45px
        color $white
    &__title
        text-transform uppercase
        text-align center
        font-weight 500
        font-size 34px
        margin-bottom 25px
        letter-spacing .5em
        +below($desktop)
            letter-spacing normal
    &__info
        font-size 16px
        text-align center
    &__open
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        font-family "oswald"
        outline 0
        border 0
        cursor pointer
        background-color $yellow
        font-size 20px
        width 250px
        margin 0 auto
        transition background $time
        &:hover
            background-color $white

.fastivals
    margin-bottom 50px
    &__title
        text-transform uppercase
        text-align left
        font-weight 500
        font-size 34px
        margin-bottom 25px
        +below($desktop)
            font-size 28px
            padding 20px 0
        +below($tablet)
            font-size 20px
    &__list
        margin 0 -30px
        font-size 0
        text-align center
        +below($tablet)
            margin 0
    &__item
        position relative
        display inline-block
        vertical-align top
        max-height 400px
        margin 0 15px 12px
        width 30%
        +below($desktop)
            width 28%
        +below($tablet)
            width 100%
            margin 0 0 20px 0
    &__image
        & img
            width 100%
            display block
    &__link
        padding 20px 0 20px 25px
        text-align left
        position absolute
        color #fff
        background-color rgba(0, 0, 0, 0.45)
        bottom 0
        left 0
        font-size 16px
        width 100%
        z-index 1
        transition background $time
        &:hover
            background-color rgba(0, 0, 0, 0.8)

.experts-corner
    margin-bottom 50px
    +below($tablet)
        margin-bottom 25px
    &__title
        text-transform uppercase
        text-align center
        font-weight 500
        font-size 34px
        margin-bottom 25px
        background-color $yellow
        padding 35px 0
        +below($desktop)
            font-size 28px
            padding 20px 0
        +below($tablet)
            font-size 20px
    &__top
        position relative
        margin-bottom 20px
    &__main-link
        font-size 20px
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        padding 10px 35px
        background-color $yellow
        transition background $time
        z-index 1
        &:hover
            background-color $white
    &__link
        font-size 16px
        position absolute
        bottom 0
        left 0
        padding 12px 25px
        background-color $yellow
        transition background $time
        z-index 1
        &:hover
            background-color $white
    &__left
        position relative
        float left
        width 50%
    &__right
        position relative
        float right
        width 50%
    &__right
    &__left
        +below($tablet)
            float none
            width 100%
    &__bg-full
        min-height 350px
        max-height 750px
        overflow hidden
    &__bg-full
    &__bg-mini
        & img
            width 100%
            display block
            object-fit cover
    &__bg-mini
        margin 12px

.instagram-media
    margin-bottom 50px
    &__top
        clearfix()
        margin-bottom 10px
    &__title
        font-size 20px
        text-transform uppercase
    &__left
        float left
        width 80%
        +below($tablet)
            width 50%
            display none
    &__right
        float right
        width 20%
        text-align right
        +below($tablet)
            width 100%
    &__link
        font-size 15px
        text-transform uppercase
        padding-left 35px
    &__instagram
        position relative
        &::before
            content ''
            position absolute
            display block
            top 0
            left 0
            height 24px
            width 24px
            background url('../img/instagram.png') 50% no-repeat
            z-index 1
    &__list
        font-size 0
        margin 0 -4px
    &__item
        display inline-block
        width 11.11%
        padding 0 4px
        overflow hidden
        +below($tablet)
            width 25%
        & img
            width 100%
            display block
            transition transform $time
        &:hover img
            transform scale(1.1)
