.main-menu
    font-size 0
    li
        display inline-block
    &__link
        display block
        font-size 16px
        color #4F5159
        padding 6px 11px
        text-transform uppercase
        &:hover
            text-decoration underline
        +below($desktop)
            font-size 15px