.main-menu
    font-size 0
    li
        display inline-block
    &__link
        display block
        font-size 17px
        color #4F5159
        padding 6px 12px
        text-transform uppercase
        &:hover
            text-decoration underline